[submodule "oalib/at"]
	path = oalib/at
	url = git@github.com:ErVuL/Acoustics-Toolbox.git
[submodule "python/pyat"]
	path = python/pyat
	url = git@github.com:ErVuL/pyat.git
[submodule "python/pyram"]
	path = python/pyram
	url = git@github.com:ErVuL/pyram.git
[submodule "python/arlpy"]
	path = python/arlpy
	url = git@github.com:ErVuL/arlpy.git
[submodule "python/utm"]
	path = python/utm
	url = git@github.com:ErVuL/utm.git
